#search {
	border: 0px;
	border-bottom: 1px solid #ddd;
	padding: 20px 10%;
	border-radius: 0px;
	display: flex;
	max-width: none;
	margin: 0px;
}

#search > * {
	flex: 1;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: 5px 10px;
	padding: 10px 30px;
	cursor: pointer;
}

#search > button {
	flex:0.5;
}

#search > input[name='search'] {
	flex: 2
}

form i {
	margin: 0px 10px
}
#products {
	display: flex;
	flex-flow: row wrap;
	margin: auto;
	padding: 2% 10%;
}

#products > div {
	border: 1px solid #eee;
	border-radius: 5px;
	margin: 15px;
	flex: 1 0 25%;
	max-width: 25%;
	overflow: hidden;
}

#products .details {
	padding: 10px;
}

#products .view_product {
	text-align: center;
	display: block;
	padding: 20px;
	border-top: 1px solid #eee;
}

#products p {
	margin: 10px;
}

#products .price {

	display: inline-block;
	border: 1px solid #eee;
	border-radius: 50px;
	padding: 2px 20px;
	font-size: 80%;
}

#products .product_title {
	font-size: 110%;
	color:  #e64c3c;
}

#products img {
	width: 100%;
}

[dd_nodata] {
	font-size: 250%;
	margin: auto !important;
	border: 0px;
	text-align: center
}

@media only screen and (min-device-width: 0px) and (max-device-width: 700px) {

	#search {
		flex-flow: row wrap;
	}
	#search > input[name='search'] {
		flex: 1 0 90%;
	}

	#search > * {
	    flex: 1;
	}

	#products {
		display: block;
	}

	#products > div {
		max-width: none;
	}
}
