#main {  
	margin: 2% 10%;
    display: flex;
}

#main > div {
    border: 1px solid #ddd;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px
}

#product {
    flex: 3
}

#sidebar {
    flex: 1;
    align-self: flex-end; 
}


#main > div > div {
    border-top: 1px solid #ddd;
    padding: 20px
}

#main > #product > div {
    padding: 40px
}


#main > div > div:first-child, #product > div:nth-child(2) {  
    border-top: 0px;
}

#main > #product > div:first-child {
    padding: 0px; 
    min-height: 200px;
    background-image: url('../../_assets/images/picture.svg');
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
}

#product img {
    width: 100%
}



[dd_display='title'], #sidebar > div:first-child {
    font-size: 140%;
    font-weight: bold
}