[dd_feedback] {
    padding: 10px;
    color: darkred;
    text-align: center;
    margin: 5px;
}

/* ------------------
------------------------------- STYLE FOR LOADER --------------
------------------------------------------------------------------ */

dd_loader [dd_ajaxload] {
    height: 2.5px;
    width: 100%;
    position: fixed;
    top: 0px;
    left:0px;
    right: 0px;
    overflow: hidden;
    background-color: #ccc;
    z-index: 2;
    display: none
}

dd_loader [dd_ajaxload]:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 2.5px;
  background-color: rgb(239,69,76);
  animation: dd_ajaxload 1s linear infinite;
  -webkit-animation: dd_ajaxload 1s linear infinite;
}

@keyframes dd_ajaxload {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

@-webkit-keyframes dd_ajaxload {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}


dd_loader [dd_onload] {
    padding-top: 15%;
    padding-left: 5%;
    text-align: center;
    background: white;
	position: fixed;
	top:0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
	z-index: 3;
}

dd_loader [dd_onload]::before {
    content: '';
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 1px solid rgba(239,69,76,.3);
    border-radius: 50%;
    border-top-color: rgb(239,69,76);
    animation: dd_onload 1s ease-in-out infinite;
    -webkit-animation: dd_onload 1s ease-in-out infinite;
}

dd_loader [dd_onload]::after {
	content: '';
    display: inline-block;
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: relative;
    left: -135px;
    top: -20px;
}

@keyframes dd_onload {
  to { transform: rotate(360deg); }
}
@-webkit-keyframes dd_onload {
  to { -webkit-transform: rotate(360deg); }
}

/* ------------------
------------------------------- STYLE FOR dd_ attributes --------------
------------------------------------------------------------------ */




/* -------------------------
---------------------------- PAGINATION -------------
-------------------------*/

[dd_next]:empty:after {
    content: 'Next';
}

[dd_previous]:empty:after {
    content: 'Previous';
}

[dd_nodata] {
    border: 1px solid #ddd;
    padding: 30px 50px;
    border-radius: 20px 20px 20px 0px;
    font-size: 20px;
    display: block;
    margin: 30px;
}
/* ------------------
------------------------------- STYLE FOR SKELENTON UI --------------
------------------------------------------------------------------ */

.dd_shortline:empty::after, .dd_longline:empty::after, .dd_thumbnail:empty {
	content: "";
	display: inline-block;
	height: 10px;
	border-radius: 50px;
	margin: 5px 0px;
	background: #ddd;
}


.dd_longline:empty::after {
	width: 100%;
}

.dd_shortline:empty::after {
	width: 40%;
	margin: auto;
}

.dd_thumbnail:empty {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 7px
}

.dd_longline:empty::after,
.dd_shortline:empty::after,
.dd_thumbnail:empty  {
	-webkit-animation: dd_loading 1s infinite alternate;
	animation: dd_loading 1s infinite alternate;
}

@keyframes dd_loading {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
* {
    font-family: "Proxima Nova Rg",century gothic, arial;
	text-decoration: none;
	line-height: 150%
}

body {

    text-align: left;
	margin: 0px;
	padding: 0px
}

a {
	text-decoration: none;
	color: #D91470;
    cursor: pointer
}

a:hover {
	color: #333;
}

h1 {
	font-family: 'Proxima Nova Bl'
}

form {
	border: 1px solid #ddd;
	border-radius: 20px;
	overflow: hidden;
	max-width: 500px;
    padding-bottom: 30px;
	margin: auto
}

form input, form textarea, form select {
	width: 99%;
	border: 0px;
	border-bottom: 1px solid #ddd;
	padding: 30px;
    /* font-family: segoe ui light,century gothic, arial; */

}


form button {
	margin: 20px auto;
	display: block;
}

form select {
	width: 100%;
}

form label {
    border: 1px solid #ddd;
    border-radius: 50px;
    padding: 5px 40px;
    display: inline-block;
    margin: 5px 20px;
	margin-top: 15px;
    font-size: 90%;
    /* font-family: segoe ui light,century gothic, arial; */
}

button, input[type='submit'], input[type='button'] {
	font-family: "Proxima Nova Th", arial;
	background-color: #D91470;;
	color: white;
	padding: 10px 40px;
	border-radius: 100px;
	font-weight: bold;
	border: 0px;
	margin: 20px;
	transition: all 0.5s;
	box-shadow: 0px 10px 25px #ccc;
	cursor: pointer;
	width: auto;

}


form h1 {
	text-align: center;
	margin: 10px 0px;
	padding: 20px;
	font-family: 'Proxima Nova Bl', arial;
	border-bottom: 1px solid #ddd
}

form i {
	margin: 0px 20px
}

button:hover, input[type='submit']:hover, input[type='button']:hover {
	box-shadow: 0px 0px 10px #999;
}



.icons {
	width: 20px;
	display: inline-block;
	padding: 0px 5px 5px 5px;
	vertical-align: middle;
}
#main_header {
	display: flex;
	padding: 0px 0px 0px 40px;
	align-items: center;
	border-bottom: 1px solid #ddd;
}



#logo img {
	height: 80px
}

#logo {
	flex: 1
}
#search_area {
	flex: 3;
	padding: 20px
}

#search {
	width: 80%;
	padding:0px;
	border: 1px solid #ddd;
	border-radius: 50px;
	display: flex;
	align-items: center;
	overflow: hidden;
}
#search input {
	padding: 10px 50px;
    flex: 3;
    border: 0px;
    font-size: 100%;
}

#search button {
	padding: 5px 25px;
	margin: 10px;
	color: #d91470;
	background: transparent;
	box-shadow: none;
	margin: 0px

}


#title {
	border-bottom: 1px solid #ddd;
	padding: 20px;
	font-size: 250%;
	text-align: center;
	margin-bottom: 50px;
	color: #123d58
}
