* {
    font-family: "Proxima Nova Rg",century gothic, arial;
	text-decoration: none;
	line-height: 150%
}

body {

    text-align: left;
	margin: 0px;
	padding: 0px
}

a {
	text-decoration: none;
	color: #D91470;
    cursor: pointer
}

a:hover {
	color: #333;
}

h1 {
	font-family: 'Proxima Nova Bl'
}

form {
	border: 1px solid #ddd;
	border-radius: 20px;
	overflow: hidden;
    padding-bottom: 30px;
	margin: auto
}

form input, form textarea, form select {
	width: 99%;
	border: 0px;
	border-bottom: 1px solid #ddd;
	padding: 30px;
    /* font-family: segoe ui light,century gothic, arial; */

}


form button {
	margin: 20px auto;
	display: block;
}

form select {
	width: 100%;
}

form label {
    border: 1px solid #ddd;
    border-radius: 50px;
    padding: 5px 40px;
    display: inline-block;
    margin: 5px 20px;
	margin-top: 15px;
    font-size: 90%;
    /* font-family: segoe ui light,century gothic, arial; */
}

button, input[type='submit'], input[type='button'] {
	font-family: "Proxima Nova Th", arial;
	background-color: #D91470;;
	color: white;
	padding: 10px 40px;
	border-radius: 100px;
	font-weight: bold;
	border: 0px;
	margin: 20px;
	transition: all 0.5s;
	box-shadow: 0px 10px 25px #ccc;
	cursor: pointer;
	width: auto;

}


form h1 {
	text-align: center;
	margin: 10px 0px;
	padding: 20px;
	font-family: 'Proxima Nova Bl', arial;
	border-bottom: 1px solid #ddd
}

form i {
	margin: 0px 20px
}

button:hover, input[type='submit']:hover, input[type='button']:hover {
	box-shadow: 0px 0px 10px #999;
}



.icons {
	width: 20px;
	display: inline-block;
	padding: 0px 5px 5px 5px;
	vertical-align: middle;
}
