#main_header {
	display: flex;
	padding: 0px 0px 0px 40px;
	align-items: center;
	border-bottom: 1px solid #ddd;
}



#logo img {
	height: 80px;
	padding: 10px
}

#main_header > * {
	flex: 1
}

#main_header button {
	margin: 0px;
	padding: 5px 30px
}

#main_header > #catalogue {
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: 0px;
	margin-right: 50px;
	padding: 0px
}

#main_header > #catalogue  select {
	padding: 10px;
	border: 0px;
	margin: 0px;
	cursor: pointer
}

#logo {
	flex: 3
}

/* #search_area {
	flex: 3;
	padding: 20px
}

#search {
	width: 80%;
	padding:0px;
	border: 1px solid #ddd;
	border-radius: 50px;
	display: flex;
	align-items: center;
	overflow: hidden;
}
#search input {
	padding: 10px 50px;
    flex: 3;
    border: 0px;
    font-size: 100%;
}

#search button {
	padding: 5px 25px;
	margin: 10px;
	color: #d91470;
	background: transparent;
	box-shadow: none;
	margin: 0px

} */


#title {
	border-bottom: 1px solid #ddd;
	padding: 20px;
	font-size: 250%;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
	color: #123d58
}
