#success {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: rgba(0,0,0,0.6);
	display: none;
}

#success > div {
	background: white;
    width: 30%;
    margin: auto;
    margin-top: 50px;
    border-radius: 15px;
    overflow: hidden;
}

#success > div > * {
	padding: 20px;

	text-align: center
}

#success a {
	display: block;
	border-top: 1px solid #ddd;
}

#success p {
	font-family: segoe ui light,century gothic, arial;
	font-size: 22px;
}

#success input {
	border: 1px solid #ddd;
	border-radius: 50px;
	padding: 15px 30px;
}